<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-around center" style="margin-left: 1%;" >

    <div fxFlex="20%">
     <app-total-products></app-total-products>
    </div>

    <div fxFlex="20%">
        <app-total-orders></app-total-orders>
    </div>

  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-around center"
    style="margin-top: 5px;">

    <div fxFlex="20%">
      <app-total-target-value></app-total-target-value>
    </div>

    <div fxFlex="20%">
       <app-total-cancelled-orders></app-total-cancelled-orders> 
      </div>
  </div>

